/** Typography */

h1 {
  font-size: $h1;
  line-height: 40px;
}

h2 {
  font-size: 18px;
  color: $brown;
}
h2.elementor-heading-title {
  font-size: 21px;
  color: $brown !important;
}

h4 {
  color: $brown !important;
}
